---
import '@fontsource/dm-serif-display/latin-400.css';
import '@fontsource/dm-serif-display/latin-400-italic.css';
import '@fontsource/instrument-serif/latin-400.css';
import '@fontsource/instrument-serif/latin-400-italic.css';
import '@fontsource/hanken-grotesk/latin-400.css';
import '@fontsource/hanken-grotesk/latin-500.css';
import '@fontsource/hanken-grotesk/latin-600.css';
import '@fontsource/caveat/latin-400.css';

import BaseLayout from '../../layouts/BaseLayout.astro';
import { getSeo } from '../../lib/seo';
import data from '../../data/templates/latitude.json';

import LatitudeHeader from '../../components/templates/photographe/LatitudeHeader.astro';
import HeroLatitude from '../../components/templates/photographe/HeroLatitude.astro';
import Series from '../../components/templates/photographe/Series.astro';
import Auteur from '../../components/templates/photographe/Auteur.astro';
import Demarche from '../../components/templates/photographe/Demarche.astro';
import Avis from '../../components/templates/photographe/Avis.astro';
import Contact from '../../components/templates/photographe/Contact.astro';
import LatitudeFooter from '../../components/templates/photographe/LatitudeFooter.astro';
---

<BaseLayout seo={getSeo('templatePhotographe')} bare={true}>
  <Fragment slot="head">
    <link rel="preconnect" href="https://images.unsplash.com" crossorigin />
  </Fragment>

  <LatitudeHeader />

  <main class="bg-latitude-noir text-latitude-blanc font-hanken">
    <HeroLatitude />
    <Series />
    <Auteur />
    <Demarche />
    <Avis />
    <Contact />
  </main>

  <LatitudeFooter />
</BaseLayout>
