---
import '../styles/globals.css';
import siteConfig from '../data/siteConfig.json';

interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
}

const {
  title = siteConfig.siteName,
  description = siteConfig.baseline,
  noindex = false,
} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {noindex && <meta name="robots" content="noindex,nofollow" />}
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
